
#status_date_container {
    /* 2. Contenedor de Estatus y Fecha (ocupa 2 columnas del form_grid) */
    grid-size: 2; 
    column-span: 2;
    margin-bottom: 1;
}

#date_container {
    /* 3. Contenedor de la Fecha (Grid interno para Label, Y, M, D) */
    grid-size: 4;
    grid-columns: 1fr 1fr 1fr 1fr;
    align: right middle;
}

#date_label_static {
    /* 4. Estilos de los inputs de fecha */
    width: 100%;
    text-align: right;
    padding-right: 1;
    text-style: bold;
    color: $accent;
}
.fecha_input {
    width: 100%;
    margin-right: 1;
    text-align: center;
    border: solid #333;
}

#close_btn {
    /* Tercera fila del Grid: Botón */
    width: 50%;
}
